*{
    margin: 0;
    padding: 0;
    background-color: slategrey;
}

#container{
    /* margin-top: 10rem;
    display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch; */

}
#ship-box-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
}
#ship-box-container button{
    padding: 1rem;
    border: none;
    background-color: cyan;
}


#game-board-container{
    display: flex;
	flex-direction: row;
    margin-top: 6rem;
    margin-right: 33rem;
    margin-left: 33rem;
}
#game-board-container button{
    padding: 1rem;
}
.player1-board-piece{
    background-color: purple;
}
.player2-board-piece{
    background-color: blue;
}