*{
    margin: 0;
    padding: 0;
    background-color: slategrey;
}

#ship-box-container{
    margin-top: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}
#ship-box-container button{
    padding: 1rem;
    border: none;
    background-color: cyan;
}
#ship-box-container ul{
    list-style-type: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	/* align-items: flex-start;
	align-content: stretch; */
    border: .3rem solid black;
}
#VH-Switch:hover{
    background-color: rgb(1, 131, 206);
}
.Ship-List{
    padding: 1rem;
}
.Ship-List:hover{
    color: skyblue;
    cursor: pointer;
}
.Ship-List:active{
    color:blueviolet;
}


#game-text-container{
    margin-top: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}


#game-board-container{
    display: flex;
	flex-direction: row;
    margin-top: 6rem;
    margin-right: 33rem;
    margin-left: 33rem;
}
#game-board-container button{
    padding: 1rem;
}
.player1-board-piece{
    background-color: purple;
}
.player2-board-piece{
    background-color: blue;
}
